/* GENERAL */

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;

}

body {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
}

/* TO DO LIST */

main {
    max-width: 80%;
    margin: 0 auto;
    line-height: 2.5rem;
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5%;
}


h2 {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    margin-bottom: 2.5%;
    color:#660033;
}

ul {
    list-style-type: square;
}

fieldset {
    margin: 0 auto;
    border: dashed 1px #660033;
    padding: 5%;
    max-width: 60%;
}

legend {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color:#660033;
}

label {
    font-weight: bold;
}

input {
    margin-left: 2%;
    border:none;
    border-bottom: solid 1px;
}

input::placeholder {
    padding: 2%;
    font-family: 'Rokkitt', serif;
}
.remove {
    margin-left: 5%;
    border: none;
    background-color: transparent;
    font-weight: bolder;
    color: #cc0000;
}

#add_todo {
    margin-right: 1.5%;
    border: none;
    background-color: #339933;
    color: white;
    padding: 0.8%;
}

#cancel {
    border: none;
    background-color: #666699;
    color: white;
    padding: 0.8%;
}

/* FOOTER */

footer {
    margin: 2%;
    text-align: center;
    font-weight: bold;
}

#me {
    color: #ff0066;
}